
server {
   listen 80;
    server_name {{ domain_name }};

	root {{project_path}}/front;

	index index.html;

  location = /notes {
    proxy_pass http://{{APP_ADDRESS}}:{{APP_PORT}};
  }
  location ^~ /comment/ {
    proxy_pass http://{{APP_ADDRESS}}:{{APP_PORT}};
  }
  location ^~ /note {
    proxy_pass http://{{APP_ADDRESS}}:{{APP_PORT}};
  }

  }

